PORT=5000

MONGO_URI=your_mongodb_connection_string

CLIENT_URL=http://localhost:5173

GROQ_API_KEY=your_groq_api_key

REDIS_URL=redis://localhost:6379

JWT_SECRET=d49392542e58b3e13527d11bd2696f08863989d6737f67de16dc42ddef1335fd